body, html {
    height: 100%;
     margin: 0;
}
nav{
  color:black;
  text-shadow: none;

}
body {
   background-image: url(" http://i768.photobucket.com/albums/xx323/ktmighty/Video-Games2.gif");
   background-position: center;
       background-repeat: repeat-y:;
       background-size: cover;
   }
 div.transbox {
     margin: 20px;
     background-color: #ffffff;
     border: 1px solid black;
     opacity: 0.8;
     filter: alpha(opacity=80);}
 div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
h1{
  color: red;
  text-align: center;
   text-shadow: 3px 2px blue;
}
p{
text-align: center;
 text-shadow: none
}
.role {
    position: relative;
    display: inline-block;
}
.shoot{
    position: relative;
    display: inline-block;
}
.plat{
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 580px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 16px 20px;
    z-index: 2;
}

.role:hover .dropdown-content {
    display: block;
}
.shoot:hover .dropdown-content {
    display: block;
}
.plat:hover .dropdown-content {
    display: block;
}
#gamertag{
  color: green;
  font-style: italic;
  font-size: 60px
}
table {margin-left: 500px;

  text-align: center;
}
th {
  text-decoration: underline;
  font-weight: bolder;
}
th,td.box {
  border-style:solid;
  border-width:2px;
  border-color:blue;
  height: 360px;
  width: 480px;
}
tr.dark  {
  background-color:black/*dark*/
}
tr.light  {background-color:white/*light*/
}
tr.dark>td,th{
  color:RGB(0,255,255);}
table{
  border-style:solid;
  border-width:2px;
